{% extends "base.html" %}

{% load url from future %}

{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"> </script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"> </script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"> </script>


<script type="text/javascript">
    function highlight(id) {
        var elements = document.getElementsByClassName(id);
        for (var i = 0; i < elements.length; ++i) {
            elements[i].style.backgroundColor = "FFFC7F";
        }
    }

    function unHighlight(id) {
        var elements = document.getElementsByClassName(id);
        for (var i = 0; i < elements.length; ++i) {
            elements[i].style.backgroundColor = "";
        }    }

    $(function(){
        $("#datepicker").datepicker();
     });
    $(document).ready(function(){
        $("input[class='noanswer']").click(function(event){
            $(event.target).parent().parent().siblings().not(".noanswer").find("input").prop("checked",false).val("");
            });              
        })
    
</script>        
{% endblock %}

{% block header %}
	<title> Edit {{ survey.title }} </title>
	<h2> Editing {{survey.title}} - {{ page.page_title }} (Page {{page.page_number}}) </h2>
{% endblock %}

{% block body %}

{% if errors %}
    <errors>{% for error in errors %}*{{ error }}<br>{% endfor %}</errors>
    <br>
{% endif %}

<div class="main">
    
    <form action="{% url 'survey:response' survey.pk page.page_number %}" method="post">
    {% csrf_token %}

    <div id="column1">
        {% include "survey/partials/editsurvey.html" %}
    </div>

    <div id="column2">
        {% include "survey/partials/editsurvey.html" with q_log_list=q_log_list_es %}
    </div>

    <br style="clear: both" />

<br><br>

    <input type="submit" value="{% trans "Back" %}"/>
    <input type="submit" value="{% trans "Save" %}"/>
    <input type="submit" value="{% trans "Next" %}"/>


    </form>
    <!-- 
    <form action="{% url 'survey:back' survey.pk page.page_number %}" method="post">
    {% csrf_token %}
    <input style="float:left; display:inline" type="submit" value="{% trans "Back" %}" />
    </form> -->

    <br style="clear: both"/>

</div>


{% endblock %}
