{% extends "base.html" %}
{% comment %}
	These are the available surveys
{% endcomment %}

{% load url from future %}

{% load i18n %}

{% block header %}
	<title>{% trans "Available Surveys" %}</title>
	<h2 align="center">{% trans "Center for Human Development Questionnaires" %}</h2>
	<h3>{% trans "Available Surveys" %}:</h3>
{% endblock %}

{% block body %}
	{% if survey_list %}
		<ul>
		{% for survey in survey_list %}
			<li><a href="{% url 'survey:questiondetail' survey.pk 1 %}">{{ survey.title }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No surveys are available.</p>
	{% endif %}

	<h3>{% trans "All Surveys" %}:</h3>
	<ul>
	{% for survey in all_surveys %}
		<li><a href="{% url 'survey:edit_survey' survey.pk 1 %}">{{ survey.title }}</a></li>
	{% endfor %}
	</ul>
{% endblock %}
