{% extends "base.html" %}

{% load url from future %}

{% load i18n %}

{% block header %}
	<title>{% trans "Survey not available" %}</title>
	<h3 align="center">{% trans "Oops! Survey not available." %}</h3>
{% endblock %}

{% block body %}
	<p style="text-align:center; width:70%; margin-left:auto; margin-right:auto">
	{% trans "The survey you're trying to access is not available to you at this time." %}<br />
	{% trans "Please return Home to access the available surveys." %}
	</p>

{% endblock %}
