question .answer { 
    margin-left:25px; 
}
question .hidden *{ 
    margin-left:25px; 
}
answer .hidden {
    display: none;
}
main {
    position:relative;
    width:100%;
    display:block;
    margin:auto
}
form { 
    display:inline 
}
#column1 {
   float:left;
   width:48%
}
#column2 {
   float:right;
   width:48%
}
.edit {
    width: 80%;
}
input[value="Next"] {
    float:right;
    margin-right:40%;
    display:inline
}
input[value="Submit"] {
    float:right;
    margin-right:40%;
    display:inline
}
input[value="Back"] {
    float:left;
    margin-left:40%;
    display:inline
} 
input[value="Save"] {
    float:left;
    margin-left:5%;
    display:inline
}
button[value="next"] {
    float:right;
    margin-right:40%;
    display:inline
}
button[value="submit"] {
    float:right;
    margin-right:40%;
    display:inline
}
button[value="back"] {
    float:left;
    margin-left:40%;
    display:inline
} 
button[value="save"] {
    float:left;
    margin-left:5%;
    display:inline
} 
errors {
    color:red;
    }
