{% load i18n %}

<!DOCTYPE text/plain>
<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey.css" %}"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <a href="/logout" style="float: right; padding-right: 1%">{% trans "Log out" %}</a>
    <a href="/survey/" style="float: right; padding-right: 1.5%">{% trans "Home" %}</a><br />
    <a style="float: right; padding-right:1%"> {% trans "Welcome" %} <i>{{ user }}</i></a>
    <form style="float: right; padding-right: 1%" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
      <select name="language">
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="Go" />
    </form>
    <br />
    <div style="padding-left:1.5%">{% block header %}{% endblock %}</div>
    <div style="padding-left:1.5%"> {% block body %}{% endblock %} </div>
  </body>
</html>
